
*{
    background-color: #95B9C7;
}



#first-image{
    width: 120px;
    height: 120px;
    padding: 26px;
}


#second-image{
    width: 120px;
    height: 120px;
    padding: 26px;

}

#third-image{
    width: 120px;
    height: 120px;
    padding: 26px;

}

#images-div{
    display: inline-block;
    margin-top: 20px;
    /* padding: 70px; */
}

ul{
    float: right;
    font-size: 15px;
}